.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  height: 100vh;
}

.notesBox {
  background-color: #e9e9e9;
  padding: 1rem;
  border-radius: 1rem;
  grid-row: 2 / 4;
  grid-column: 2;
}
.LastTests {
  background-color: #ece5e5;
  padding: 1rem;
  border-radius: 1rem;
  grid-row: 3 / 5;
  grid-column: 1;
}
.testToDo {
  background-color: #edfee4;
  padding: 1rem;
  border-radius: 1rem;
  grid-column: 2;
}
.title {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  grid-column: 1 / 3;
  position: relative;
}

.title::before {
  content: "LearnHub";
  position: absolute;
  font-weight: 600;
  opacity: 0.1;
  color: #828282;
  font-size: 4rem;
  letter-spacing: 2rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.titletext {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  position: relative;
}

.Notes {
  list-style-type: none;
}

.Notes a:link,
.Notes:visited {
  text-decoration: none;
  list-style: none;
}

.Notes li {
  font-weight: 400;
  color: black;
  text-decoration: none;
  padding: 1rem 0.4rem;
}

.Notes :not(:last-child) li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.link:visited,
.link:link {
  color: var(--primary-black);
  transition: 0.3s ease;
}

.link:hover {
  color: var(--primary-orange);
}

.date {
  color: var(--primary-blue);
}
