.search {
  border: none;
  background-color: var(--primary-blue);
  color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.search::placeholder {
  color: #fff;
  opacity: 0.7;
}
