@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-white: #f6f7eb;
  --primary-orange: #e94f37;
  --primary-black: #393e41;
  --second-black: #1b1b3a;
  --primary-blue: #3f88c5;
  --primary-green: #44bba4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white);
}

.nav-icon {
  margin-right: 0.4rem;
}
